/*  */
/* General Layout Designs */
/*  */
body {
  margin: 0;
  font-family: 'Cutive Mono', monospace;
  font-size: 1rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: black;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color:rgb(228,102,99);
  font-weight: bolder;
}

.handwriting {
  font-family: 'Meddon', cursive;
  font-size: 3vw;
}

.color-blue {
  background-color: #8bc0c4;
}

.color-red {
  /* background-color: rgb(228,102,99); */
  background-color: rgb(228, 130, 128);
}

.color-yellow {
  background-color: #f1e06f;
}

.color-gray {
  background-color: #d5d5d5;
}

.header-design {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.nav-menu li {
  display: inline-block;
  padding: 1rem;
}

.title-box {
  margin: 5vh 10vw;
  padding: 5vh;
  border: whitesmoke solid 2vw;
}

.title-box h1 {
  font-size: 2rem;
}

.main-content {
  margin: 0;
}

/*  */
/* Journal Page */
/*  */
.journal-entry {
  position: relative;
}

.journal-entry img {
  display: block;
  width: 100%;
  height: auto;
  z-index: -1;
}

.journal-entry h5 {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: yellow;
  background-color: rgb(0,0,0,0.4);
  padding: 2em 0;
}

.journal-notes {
  background-image: url("../images/backparis.png");
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  padding: 10vh 10vw;
}

.journal-notes h3 {
  display: inline-block;
  padding-top: 5vh;
}

.journal-notes h2 {
  text-align: center;
}

@media (min-width: 680px) {
  .journal-entry {
    width: 50vw;
    float: left;
  }
}


/*  */
/* About Page */
/*  */

.about-container {
  padding: 3rem 5rem;
  text-align: justify;
}

.about-container p::first-letter {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(228,102,99);
}

.red-menu a:hover {
  color: #8bc0c4;
  font-weight: bolder;
}


@media (min-width: 680px) {
  .about-container {
    display: flex;
  }
  .about-container p {
    flex: 50%;
    padding: 2rem;
  }
}

/*  */
/* Portfolio Page */
/*  */
.blocks-container {
  grid-column-start: 3;
  height: 150vh;
  padding: 5rem 15rem;
  display:grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.blocks-container > * {
  /* font-family: 'Raleway', sans-serif; */
  text-align: center;
  padding: 1rem 3rem;
  height: auto;
  color: whitesmoke;
  border-radius: 50%;
}

.blocks-container div h4 {
  font-size: 1.8rem;
  font-weight: bolder;
  text-decoration: underline dotted;
}

.blocks-container div p:last-child::before {
  content: "\01F50E";
  /* content: "\01F449"; */
}

.square {
  grid-row: span 2;
  grid-column: span 2;
  background-color: rgb(96, 109, 134);
  border: #8bc0c4 solid 0.5rem;
}

.alt-square {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url("../images/darkmesh.jpg");
  background-size: cover;
  background-position: center;
  border: steelblue solid 0.5rem; 
}

.large {
  grid-row: span 3;
  grid-column: span 3;
  background-image: url("../images/slack-logo.png");
  background-size: cover;
  background-position: top;
  border: darkgray solid 0.5rem;
}

.tall {
  grid-row: span 3;
  grid-column: span 2;
  background-image: url("../images/darkmesh.jpg");
  background-size: cover;
  background-position: center;
  border: #8bc0c4 solid 0.5rem;
}

.wide {
  grid-row: span 2;
  grid-column: span 3;
  border: rgb(96, 109, 134) solid 0.5rem;
  background-color: rgb(228,102,99);
}

#github {
  background-image: url("../images/github-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 7rem;
  height: 7rem;
  margin-left: auto;
  margin-right: auto;
}

/* Porfolio was designed for desktop first. Media Query for smaller screens. */
@media only screen and (max-width: 800px) {
  .blocks-container {
    display: block;
    padding: 3rem 4rem;
  }
  .blocks-container > * {
    border-radius: 5%;
    padding: 2rem;
    margin: 1rem 0;
  }
  .blocks-container div p:last-child {
    text-align: left;
  }
  .large {
    background-image: unset;
    background-color: #49144b;
  }
}


/*  */
/* Index Home Page */
/*  */
.index-main {
  display: grid;
  grid-template-rows: 3fr 5fr 5fr 2fr;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-areas: 
    "left-block header header header right-block"
    "left-block . logo-block . right-block"
    "main main main main main"
    "footer footer footer footer footer"
}

.index-nav {
  grid-area: header;
  padding-top: 3rem;
  text-align: center;
}

#index-title {
  grid-area: logo-block;
  margin: 2rem 0rem 2rem 0;
  display: inline-block;
  align-self: center;
}

#index-title h1 {
  padding: 3rem;
  margin: 1rem;
  background-color: rgb(228,102,99);
  color: whitesmoke;
  font-size: 1.5rem;
}

#blue-block {
  grid-area: left-block;
  background-color: #8bc0c4;
}

#yellow-block {
  grid-area: right-block;
  background-color: #f7d90a;
}

#intro {
  grid-area: main;
  padding: 3rem;
  height: auto;
}

#intro h3 {
  font-family: 'Cutive Mono', monospace;
  font-weight: 600;
  font-size: 1.5rem;
}

.index-footer {
  grid-area: footer;
  padding: 5rem 4rem 0 4rem;
  height: auto;
  text-align: center;
}

@media (min-width: 680px) {
  .index-main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas: 
      "left-block left-block header"
      ". logo-block main"
      "right-block right-block footer"
  }
  .index-nav {
    text-align: center;
  }
  #intro {
    padding-left: 10rem;
  }
  #index-title {
    display: inline-block;
    align-self: center;
  }
}